# 1. Importing Required Libraries

In [2]:
import pandas as pd
import numpy as np
from datetime import datetime

#  2. Loading the Dataset

In [4]:
df= pd.read_csv(r"C:\Users\DELL\Desktop\Python\Dataset_Malawi_National_Football_Team_Matches.csv")

# First 5 Rows

In [6]:
df.head()

,Date,Opponent,Team Score,Opponent Score,Result,Venue,Competition
0,~1957,Northern Rhodesia,0.0,5.0,Loss,Unknown,Friendly (First International)
1,~1962,Ghana,0.0,12.0,Loss,Unknown,Friendly
2,~1968,Botswana,8.0,1.0,Win,Unknown,Friendly
3,02/06/1996,South Africa,0.0,3.0,Loss,Away,World Cup Qualifier
4,07/07/1996,Zambia,1.0,1.0,Draw,Home,Friendly

# Last 5 Rows

In [8]:
df.tail()

,Date,Opponent,Team Score,Opponent Score,Result,Venue,Competition
68,14/11/2024,Burundi,0.0,0.0,Draw,Home,AFCON 2025 Qualifier
69,18/11/2024,Burkina Faso,0.0,1.0,Loss,Away,AFCON 2025 Qualifier
70,02/03/2025,Comoros,2.0,0.0,Win,Away,Friendly
71,20/03/2025,Namibia,0.0,1.0,Loss,Away,World Cup Qualifier
72,24/03/2025,Tunisia,NaN,NaN,TBD,Away,World Cup Qualifier

# Summary Of Dataframe

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            73 non-null     object
 1   Opponent        73 non-null     object
 2   Team Score      72 non-null     float64
 3   Opponent Score  72 non-null     float64
 4   Result          73 non-null     object
 5   Venue           73 non-null     object
 6   Competition     73 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.1+ KB

# Names Of Columns

In [62]:
df.columns

Index(['Date', 'Opponent', 'Team Score', 'Opponent Score', 'Result', 'Venue',
       'Competition', 'Goal Difference', 'Is Win', 'Is Draw', 'Is Loss',
       'Is Home', 'Is Away', 'Is Neutral'],
      dtype='object')

In [64]:
df.describe

<bound method NDFrame.describe of          Date           Opponent  Team Score  Opponent Score Result    Venue  \
0  1957-01-01  Northern Rhodesia         0.0             5.0   Loss  Neutral
1  1962-01-01              Ghana         0.0            12.0   Loss  Neutral
2  1968-01-01           Botswana         8.0             1.0    Win  Neutral
3  2000-01-01       South Africa         0.0             3.0   Loss     Away
4  2000-01-01             Zambia         1.0             1.0   Draw     Home
..        ...                ...         ...             ...    ...      ...
68 2000-01-01            Burundi         0.0             0.0   Draw     Home
69 2000-01-01       Burkina Faso         0.0             1.0   Loss     Away
70 2000-01-01            Comoros         2.0             0.0    Win     Away
71 2000-01-01            Namibia         0.0             1.0   Loss     Away
72 2000-01-01            Tunisia         NaN             NaN    TBD     Away

                       Competition  Goal Difference  Is Win  Is Draw  Is Loss  \
0   Friendly (First International)             -5.0       0        0        1
1                         Friendly            -12.0       0        0        1
2                         Friendly              7.0       1        0        0
3              World Cup Qualifier             -3.0       0        0        1
4                         Friendly              0.0       0        1        0
..                             ...              ...     ...      ...      ...
68            AFCON 2025 Qualifier              0.0       0        1        0
69            AFCON 2025 Qualifier             -1.0       0        0        1
70                        Friendly              2.0       1        0        0
71             World Cup Qualifier             -1.0       0        0        1
72             World Cup Qualifier              NaN       0        0        0

    Is Home  Is Away  Is Neutral
0     False    False        True
1     False    False        True
2     False    False        True
3     False     True       False
4      True    False       False
..      ...      ...         ...
68     True    False       False
69    False     True       False
70    False     True       False
71    False     True       False
72    False     True       False

[73 rows x 14 columns]>

# Summary Statistics

In [14]:
df.describe()

       Team Score  Opponent Score
count   72.000000       72.000000
mean     0.833333        1.569444
std      1.342690        1.758892
min      0.000000        0.000000
25%      0.000000        0.000000
50%      0.000000        1.000000
75%      1.000000        2.000000
max      8.000000       12.000000

# Checking for duplicates

In [16]:
df.duplicated().sum()

0

In [17]:
df.isna().sum()

Date              0
Opponent          0
Team Score        1
Opponent Score    1
Result            0
Venue             0
Competition       0
dtype: int64

# Handling Missing Scores

In [19]:
df = df.dropna(subset=['Team Score', 'Opponent Score'])

# Convering Scores To Integer

In [21]:
df = df.dropna(subset=['Team Score', 'Opponent Score']).copy()
df.loc[:, 'Team Score'] = df['Team Score'].astype(int)
df.loc[:, 'Opponent Score'] = df['Opponent Score'].astype(int)

# Cleaning The 'Date' Column

In [23]:
df = pd.read_csv("Dataset_Malawi_National_Football_Team_Matches.csv")
df['Date'] = pd.to_datetime(df['Date'].astype(str).str.replace('~', '', regex=False), errors='coerce', dayfirst=True)
df['Date'] = df['Date'].fillna(pd.Timestamp('2000-01-01'))

#  Standardizing the Venue Column

In [25]:
df['Venue'] = df['Venue'].str.capitalize()
df['Venue'] = df['Venue'].replace({'Unknown': 'Neutral'})

# New Features

### Goal Difference

In [28]:
df['Goal Difference'] = df['Team Score'] - df['Opponent Score']

### Match Outcome Flags

In [30]:
df['Is Win'] = df['Result'].eq('Win').astype(int)
df['Is Draw'] = df['Result'].eq('Draw').astype(int)
df['Is Loss'] = df['Result'].eq('Loss').astype(int)

### Match Location Flags

In [32]:
df['Is Home'] = df['Venue'].eq('Home')
df['Is Away'] = df['Venue'].eq('Away')
df['Is Neutral'] = df['Venue'].eq('Neutral')

# Exporting the Cleaned Dataset

In [34]:
df.to_csv("Clean_Malawi_Matches.csv", index=False)

In [35]:
import os
print(os.getcwd())

C:\Users\DELL\Desktop\Python