# 1. Importing Required Libraries

In [3]:
import pandas as pd
import numpy as np
from datetime import datetime

#  2. Loading the Dataset

In [4]:
df= pd.read_csv(r"C:\Users\DELL\Desktop\Python\Dataset_Malawi_National_Football_Team_Matches.csv")

# First 10 Rows

In [5]:
df.head(10)

,Date,Opponent,Team Score,Opponent Score,Result,Venue,Competition
0,~1957,Northern Rhodesia,0.0,5.0,Loss,Unknown,Friendly (First International)
1,~1962,Ghana,0.0,12.0,Loss,Unknown,Friendly
2,~1968,Botswana,8.0,1.0,Win,Unknown,Friendly
3,02/06/1996,South Africa,0.0,3.0,Loss,Away,World Cup Qualifier
4,07/07/1996,Zambia,1.0,1.0,Draw,Home,Friendly
5,08/01/2010,Algeria,0.0,3.0,Loss,Away,AFCON 2010 Group Stage
6,11/01/2010,Angola,0.0,2.0,Loss,Away,AFCON 2010 Group Stage
7,14/01/2010,Mali,1.0,3.0,Loss,Away,AFCON 2010 Group Stage
8,04/09/2010,Tunisia,2.0,2.0,Draw,Away,AFCON Qualifier
9,09/10/2010,Chad,6.0,2.0,Win,Home,AFCON Qualifier

# Last 5 Rows

In [6]:
df.tail()

,Date,Opponent,Team Score,Opponent Score,Result,Venue,Competition
68,14/11/2024,Burundi,0.0,0.0,Draw,Home,AFCON 2025 Qualifier
69,18/11/2024,Burkina Faso,0.0,1.0,Loss,Away,AFCON 2025 Qualifier
70,02/03/2025,Comoros,2.0,0.0,Win,Away,Friendly
71,20/03/2025,Namibia,0.0,1.0,Loss,Away,World Cup Qualifier
72,24/03/2025,Tunisia,NaN,NaN,TBD,Away,World Cup Qualifier

# Summary Of Dataframe

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 73 entries, 0 to 72
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Date            73 non-null     object
 1   Opponent        73 non-null     object
 2   Team Score      72 non-null     float64
 3   Opponent Score  72 non-null     float64
 4   Result          73 non-null     object
 5   Venue           73 non-null     object
 6   Competition     73 non-null     object
dtypes: float64(2), object(5)
memory usage: 4.1+ KB

# Names Of Columns

In [8]:
df.columns

Index(['Date', 'Opponent', 'Team Score', 'Opponent Score', 'Result', 'Venue',
       'Competition'],
      dtype='object')

In [9]:
df.describe

<bound method NDFrame.describe of           Date           Opponent  Team Score  Opponent Score Result    Venue  \
0        ~1957  Northern Rhodesia         0.0             5.0   Loss  Unknown
1        ~1962              Ghana         0.0            12.0   Loss  Unknown
2        ~1968           Botswana         8.0             1.0    Win  Unknown
3   02/06/1996       South Africa         0.0             3.0   Loss     Away
4   07/07/1996             Zambia         1.0             1.0   Draw     Home
..         ...                ...         ...             ...    ...      ...
68  14/11/2024            Burundi         0.0             0.0   Draw     Home
69  18/11/2024       Burkina Faso         0.0             1.0   Loss     Away
70  02/03/2025            Comoros         2.0             0.0    Win     Away
71  20/03/2025            Namibia         0.0             1.0   Loss     Away
72  24/03/2025            Tunisia         NaN             NaN    TBD     Away

                       Competition
0   Friendly (First International)
1                         Friendly
2                         Friendly
3              World Cup Qualifier
4                         Friendly
..                             ...
68            AFCON 2025 Qualifier
69            AFCON 2025 Qualifier
70                        Friendly
71             World Cup Qualifier
72             World Cup Qualifier

[73 rows x 7 columns]>

# Summary Statistics

In [10]:
df.describe()

       Team Score  Opponent Score
count   72.000000       72.000000
mean     0.833333        1.569444
std      1.342690        1.758892
min      0.000000        0.000000
25%      0.000000        0.000000
50%      0.000000        1.000000
75%      1.000000        2.000000
max      8.000000       12.000000

# Checking for duplicates

In [11]:
df.duplicated().sum()

0

In [12]:
df.isna().sum()

Date              0
Opponent          0
Team Score        1
Opponent Score    1
Result            0
Venue             0
Competition       0
dtype: int64

# Handling Missing Scores

In [13]:
df = df.dropna(subset=['Team Score', 'Opponent Score'])

# Convering Scores To Integer

In [14]:
df = df.dropna(subset=['Team Score', 'Opponent Score']).copy()
df.loc[:, 'Team Score'] = df['Team Score'].astype(int)
df.loc[:, 'Opponent Score'] = df['Opponent Score'].astype(int)

# Cleaning The 'Date' Column

In [15]:
df = pd.read_csv("Dataset_Malawi_National_Football_Team_Matches.csv")
df['Date'] = pd.to_datetime(df['Date'].astype(str).str.replace('~', '', regex=False), errors='coerce', dayfirst=True)
df['Date'] = df['Date'].fillna(pd.Timestamp('2000-01-01'))

FileNotFoundError: [Errno 2] No such file or directory: 'Dataset_Malawi_National_Football_Team_Matches.csv'

#  Standardizing the Venue Column

In [ ]:
df['Venue'] = df['Venue'].str.capitalize()
df['Venue'] = df['Venue'].replace({'Unknown': 'Neutral'})

# New Features

### Goal Difference

In [ ]:
df['Goal Difference'] = df['Team Score'] - df['Opponent Score']

### Match Outcome Flags

In [ ]:
df['Is Win'] = df['Result'].eq('Win').astype(int)
df['Is Draw'] = df['Result'].eq('Draw').astype(int)
df['Is Loss'] = df['Result'].eq('Loss').astype(int)

### Match Location Flags

In [ ]:
df['Is Home'] = df['Venue'].eq('Home')
df['Is Away'] = df['Venue'].eq('Away')
df['Is Neutral'] = df['Venue'].eq('Neutral')

# Exporting the Cleaned Dataset

In [ ]:
df.to_csv("Clean_Malawi_Matches.csv", index=False)

In [ ]:
import os
print(os.getcwd())

C:\Users\DELL\Desktop\Python